p {
    color: black;
    font-size: 1em;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    text-align: center;
    color: white;
    padding: 150px;
    background-image: url("fond_20240617.png");
    
    
    opacity: 0.5;
}

body {
    
}